*{
    list-style-type: none;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 32px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    transition: 0.4s ease-in-out;
}

/* setup */
body{
    display: block;
    margin: 0;
}

.container{
    background: rgba(255,255,255,0);
}

.header{
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    top: 0;
    height: 96px;
    box-shadow: 0px 4px 8px 0px #26323814;
    box-shadow: 0px 2px 4px 0px #26323829;

}

.header .page-logo{
    display: flex;
    align-items: center;
}

.header .name{
    font-size: 48px;
    font-weight: 700;
}

.nav-bar #nav {
    position: relative;
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
}

#nav li {
    margin: 0 1vw;
    line-height: 32px;
}

#nav a{
    text-decoration: none;
    color: #6C5CE7;
}

#nav a:hover{
    color: #333;
    font-weight: 600;
}

#nav .nav-dot{
    color: #FDCB6E;
}

.header #sign-in-but{
    /* margin-left: 8vw; */
    background: #A29BFE;
    padding: 16px 48px;
    font-size: 24px;
    font-weight: 700;
    border: 0px;
    border-radius: 16px;
}

.header #sign-in-but:hover{
    opacity: 0.8;
    cursor: pointer;
}

.content{
    margin-top: 96px;
}

.content .content-intro{
    height: 0;
    overflow: hidden;
}

.content .content-info{
    margin: 0 120px;
}
.content .content-info > h3{font-size: 32px;}
.content .content-info > p{font-size: 24px;}

.content-info .info-item-list{
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
}

.content-info .info-item{
    padding: 0px 15px;
}

.info-item .lm-but{
    background-color: white;
    color: #6C5CE7;
    border: 1px solid #ADADAD;
    border-radius: 16px;
    padding: 8px 16px;
}

.info-item .lm-but:hover{
    opacity: 0.8;
    cursor: pointer;
}

.content-pricing{
    height: 0;
    overflow: hidden;
}

.footer{
    height: 0;
    overflow: hidden;
}